{
  "plugins": [
    ["macros"],
    [
      "ramda",
      {
        "useES": true
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ]
}
